<h1>Add new Photo</h1>
	<%= form_for(@photo) do |f| %>

      <%= f.label :caption %>
      <%= f.text_field :caption %>

      <%= f.label :file %>
      <%= f.file_field :file %>

      <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
    <% end %>